.taken.seat-check.form-check-input {
    &:checked {
        background-color: $danger;
        border-color: $danger;
    }
}

.empty.seat-check.form-check-input {
    &:checked {
        background-color: $success;
        border-color: $success;
    }
}

.taken.seat-check.form-check-input,
.seat-check-legend.form-check-input {
    &:disabled {
        opacity: initial !important;
    }
}

.seat-check,
.seat-check-legend {
    &:checked[type="checkbox"] {
        background-image: none;
    }
}

.seat-check-legend-label {
    opacity: initial !important;
}
