// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-serif: 'Roboto Slab', serif;

//Colours
$primary: #003f88;
$primary-light: #0077b6;
$bs-secondary: #6c757d;
